xmlBlaster/src/java/org/xmlBlaster/contrib/replication/setup/DbWatcherMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Holger Lehn (Avitech - Aviation Management Technologies GmbH) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="attrType">
		<xs:simpleContent>
			<xs:extension base="attrSimpleType">
				<xs:attribute name="name" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="LR"/>
							<xs:enumeration value="SUBNET_ID"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="attrSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SRANIL"/>
			<xs:enumeration value="TCP"/>
			<xs:enumeration value="X25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="colType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="COL1"/>
							<xs:enumeration value="CPU"/>
							<xs:enumeration value="DATUM"/>
							<xs:enumeration value="ICAO_ID"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="encoding" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="colnameType">
		<xs:simpleContent>
			<xs:extension base="colnameSimpleType">
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="DATE"/>
							<xs:enumeration value="NUMBER"/>
							<xs:enumeration value="VARCHAR2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="isNullable" type="xs:boolean"/>
				<xs:attribute name="precision">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="10"/>
							<xs:enumeration value="11"/>
							<xs:enumeration value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="scale" type="xs:boolean"/>
				<xs:attribute name="signed" type="xs:boolean"/>
				<xs:attribute name="isReadOnly" type="xs:boolean"/>
				<xs:attribute name="table" type="xs:string"/>
				<xs:attribute name="schema" type="xs:string"/>
				<xs:attribute name="catalog" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="colnameSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COL1"/>
			<xs:enumeration value="CPU"/>
			<xs:enumeration value="DATUM"/>
			<xs:enumeration value="ICAO_ID"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="command" type="xs:string"/>
	<xs:complexType name="descType">
		<xs:sequence>
			<xs:element ref="command"/>
			<xs:element ref="ident"/>
			<xs:element name="colname" type="colnameType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ident" type="xs:string"/>
	<xs:complexType name="rowType">
		<xs:sequence>
			<xs:element name="col" type="colType" maxOccurs="unbounded"/>
			<xs:element name="attr" type="attrType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="num" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="sql">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="desc" type="descType"/>
				<xs:element name="row" type="rowType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
