xmlBlaster/doc/requirements/requirement.dtd

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!ELEMENT requirement (
	topic,
	description,
	example,
	author,
	date,
	revision,
	fix*
	)>

<!ENTITY % text "#PCDATA">

<!ELEMENT topic  (%text;)>
<!ELEMENT description  (%text;)> 
<!ELEMENT example  (%text;)> 
<!ELEMENT author  (%text;)> 
<!ELEMENT date  (%text;)> 
<!ELEMENT revision  (%text;)> 

<!ELEMENT fix (
	name,
	comment,
	test
	)>

<!ELEMENT name  (%text;)> 
<!ELEMENT comment  (%text;)> 
<!ELEMENT test  (%text;)> 

<!ATTLIST requirement
          id ID #REQUIRED
			 prio  (LOW | MEDIUM | HIGH) "LOW"
          type (NEW | BUG) "BUG"
			 status (OPEN | CLOSED) "OPEN">  

<!ATTLIST fix status (OPEN | CLOSED) "OPEN">  
<!ATTLIST test tool (SUITE | MANUAL) "SUITE">  
